.header {
  background: white;
  text-align: center;
  padding: 10px;
  color: green;
  border-radius: 30px;
}

.div1 {
  background: rgb(17,158,242);
background: radial-gradient(circle, rgba(17,158,242,1) 0%, rgba(51,110,145,1) 35%, rgba(13,162,103,1) 100%);
  padding: 10px;
  border-radius: 20px;
}

img {
  width: 300px;
  height: 200px;
  border-radius: 100%
}

.text1 {
  font-weight: 600;
}

.skillDiv {
  text-align: center;
}

.skillDiv li {
  display: inline-block;
  text-align: left;
  font-weight: 600;
}